body {
  font-size: 1.6rem;
  background-image: url("../assets/background.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body,
a {
  font-family: var(--ff-general);
  color: var(--cl-white);
}

nav {
  display: flex;
  padding: 4rem 7.2rem 4rem;
  gap: 3.2rem;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: var(--fw-normal);
  font-size: 2.4rem;
  line-height: 2.2rem;
  color: var(--cl-link-inativo);
}

a:hover {
  color: var(--cl-white);
  font-weight: var(--fw-bold);
}